<h1>Add Products</h1>
<div class="row">
  <div class="col-md-8 card">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input 
          type="text" 
          class="form-control" 
          id="title" 
          name="title"
          #title="ngModel"
          ngModel
          required>
          <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
            Title is required. 
          </div>
      </div>
      <label for="price">Price</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">€</div>
        </div>
        <input 
          type="text" 
          class="form-control" 
          id="price" 
          name="price"
          ngModel
          required
          #price="ngModel"
          [min]="0">      
      </div>
      <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
        <div *ngIf="price.errors.required">Price is required.</div>
        <div *ngIf="price.errors.min">Price should be 0 or higher.</div>     
      </div>
      <div class="form-group"> 
        <label for="category">Category</label>
        <select 
          ngModel
          name="category"
          id="category"
          class="form-control" 
          required
          #category="ngModel">
          <option value=""></option>
          <option [value]="c.id" *ngFor="let c of cats"> {{c.title}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
          Category is required. 
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image</label>
        <input 
          type="text" 
          class="form-control" 
          id="imageUrl"
          name="imageUrl"
          ngModel
          required
          #imageUrl="ngModel"
          url>
          <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
            <div *ngIf="imageUrl.errors.required">Image url required.</div>
            <div *ngIf="imageUrl.errors.url">Please enter valid url.</div>
          </div>
      </div>
      <button class="btn btn-primary">Save</button>       
      <button type="button" class="btn btn-info" (click)="Back()">Back</button>
    </form>
  </div>
  <div class="col-md-4">  
    <product-card *ngIf="title.value"
    [title]="title.value"
    [price]="price.value"
    [category]="category.value"
    [imageUrl]="imageUrl.value"></product-card>
  </div>
</div>
