<h1>Your shopping cart</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Count</th>
    <th scope="col">Title</th>
    <th scope="col">Quantity</th>
    <th scope="col">Price</th>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let product of products; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ product.title }}
    </td>
    <td><add-delete-btn [product]="product">
      </add-delete-btn>
    </td>
    <td>{{(product.price*product.quantity)}}</td>
    <td>  
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <th>Total</th>
    <th>{{totalprice }}</th>
  </tr>
  </tbody>
</table>
