<form action="">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" >
  </div>
  <button class="btn btn-primary">Save</button>
</form>
<br>
<div class="jumbotron">
    <h1 class="display-4">Manage Categories!</h1>
    <p class="lead">This little pet project was a simple practice to make the project 1dv608 a little more
      organized.</p>
    <hr class="my-4">
    <p>The actual project can be found in my repo: 1dv608 WebShop. There we implemented (probably poorly) 
      this page. All the categories will show in this page with an edit and delete button. It is exactly the same
      as the products and all the categories already show in the main page, so I'm not implementing this 
      right now. 
    </p>
  </div>
