<h1>Your orders</h1>
<div class="order" *ngFor="let order of orders$  ; let i = index">
  <h3>Date: {{order.dateCreated | date}}</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.items">
        <td>{{item.title}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <strong> Total: {{order.totalPrice}}</strong>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
</div>
